<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clinic</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">09meta09</property>
        <property name="hibernate.connection.pool_size">200</property>

        <property name="show_sql">true</property>

  		<property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="main.java.app.user.User"/>
        <mapping class="main.java.app.cart.Cart"/>
        <mapping class="main.java.app.cart.CartDetail"/>
        <mapping class="main.java.app.order.Order"/>
        <mapping class="main.java.app.order.OrderDetail"/>
        <mapping class="main.java.app.order.OrderHistory"/>
        <mapping class="main.java.app.service.Service"/>
        <mapping class="main.java.app.doctors.Doctor"/>
        <mapping class="main.java.app.doctors.AddmissionTime"/>
    </session-factory>
</hibernate-configuration>